# Binarios y Temporales
*.tmp
*.log
*.exe
*~
catalogo_elementos_crud
main

# IDEs
.vscode

# Variables de entorno
*.env
!develop.env
!template.env

# Otros
.scannerwork/
swagger/**
!swagger/*.json
!swagger/*.yml
